# World Athletics

In [1]:
# Import Splinter and BeautifulSoup
from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd
import datetime

In [2]:
# Set up Splinter
browser = Browser('chrome')

In [3]:
url = 'https://worldathletics.org/world-rankings/javelin-throw/men?regionType=world&page=1&rankDate=2023-05-09&limitByCountry=0'
browser.visit(url)

In [4]:
pages = []
for i in range(1,6):
    tables = pd.read_html(f'https://worldathletics.org/world-rankings/javelin-throw/men?regionType=world&page={i}&rankDate=2023-05-09&limitByCountry=0')
    pages.append(tables)

frame = pd.DataFrame()
for page in pages:
    frame = pd.concat([frame,page[0]],axis=0)

In [5]:
frame

    Place           Competitor          DOB  Nat  Score     Event List
0       1      Anderson PETERS  21 OCT 1997  GRN   1461  Javelin Throw
1       2        Neeraj CHOPRA  24 DEC 1997  IND   1455  Javelin Throw
2       3       Jakub VADLEJCH  10 OCT 1990  CZE   1428  Javelin Throw
3       4         Julian WEBER  29 AUG 1994  GER   1385  Javelin Throw
4       5        Arshad NADEEM  02 JAN 1997  PAK   1306  Javelin Throw
..    ...                  ...          ...  ...    ...            ...
95    496    Tomonori MORISAWA  14 DEC 2005  JPN    826  Javelin Throw
96    497       Thibaud DUTREY  13 FEB 2000  FRA    826  Javelin Throw
97    498  Kazuhisa MATSUSHIMA  27 FEB 2001  JPN    826  Javelin Throw
98    499        Shota KOMATSU  11 OCT 2002  JPN    826  Javelin Throw
99    500       Martin JANCSIK  06 JAN 2004  HUN    826  Javelin Throw

[500 rows x 6 columns]

In [6]:
frame.dtypes

Place          int64
Competitor    object
DOB           object
Nat           object
Score          int64
Event List    object
dtype: object

In [7]:
frame.DOB

0     21 OCT 1997
1     24 DEC 1997
2     10 OCT 1990
3     29 AUG 1994
4     02 JAN 1997
         ...
95    14 DEC 2005
96    13 FEB 2000
97    27 FEB 2001
98    11 OCT 2002
99    06 JAN 2004
Name: DOB, Length: 500, dtype: object

### Calculate age with datetime and DOB variable

In [ ]:
https://docs.python.org/3/library/datetime.html